<ion-header>
	<div class="team-header" [ngStyle]="teamStyle">
		<div class="f-item back-btn">
			<div class="go-back" (click)="goBack()">
				<ion-icon class="sort" name="chevron-back"></ion-icon>
			</div>

		</div>
		<div class="team f-item" *ngIf="!team">
			<img class="team-logo" src="assets/imgs/fav-teams.png" alt="">
			<span class="team-name">Favorites</span>
		</div>
		<div class="team f-item" *ngIf="team">
				<img class="team-logo" [src]="team.logo" alt="">
				<span class="team-name">{{team.teamName}}</span>
			</div>
		<div class="f-item">

		</div>
	</div>
</ion-header>

<ion-content #favTeamsPage>
	<ion-grid id="control-grid-tab1">
		<ion-row>
			<ion-col [class.col-selection]="true" (click)="getPostsSegment()">
				<span [class.col-active]="!underlinedTakes">Posts</span>
			</ion-col>
			<ion-col [class.col-selection]="true" (click)="getTakesSegment()">
				<span [class.col-active]="underlinedTakes">Discussions</span>

			</ion-col>
		</ion-row>
	</ion-grid>
	<div *ngIf="wait" class="wait-container-2">
		<ion-spinner name="crescent"></ion-spinner>
	</div>
	<ion-refresher slot="fixed" (ionRefresh)="getThreads(teamId, $event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<div class="empty" *ngIf="!wait && threads.length == 0">
		<span *ngIf="team">There have been no recent posts of this team</span>
		<span *ngIf="!team">There have been no recent posts of your favorite teams</span>
		<br>
		<br>
		<ion-button color="tertiary" (click)="createPost()">Create post</ion-button>
	</div>

	

	<ion-list *ngIf="!wait && postsBoolean" lines="none" class="virtual">
		<ion-item class="post-item" *ngFor="let thread of threads" lines="none" detail="false"
			(click)="itemTapped($event, thread)">
			<div class="c" [class.default]="!thread.picture">
				<!-- HEADER -->
				<div class="thread-header">
					<div class="header-link user-info" (click)="goToUser($event, thread?.user)">
						<span class="span-userimage">
							<ion-avatar>
								<ion-img [src]="thread?.user?.profilePictureThumbnail" class="profile-pic"></ion-img>
							</ion-avatar>

						</span>
						<span class="transparent" style="color: transparent;">::</span>
						<span class="by-username">
							<span>{{thread?.user?.username}}</span>
							<ion-img *ngIf="thread.user.verified" src="assets/imgs/verified.png" class="level">
							</ion-img>
							<br>
							<span class="name-thread">{{thread?.created}}
								<span class="dot">·</span>
								<span>{{thread?.league}}</span>
							</span>
						</span>
					</div>
				</div>

				<!-- TITLE -->

				<span class="thread-title">
					<ion-icon *ngIf="thread.type == 'Poll' || thread.type == 'A/B'" name="podium" class="poll">
					</ion-icon>
					<ion-icon *ngIf="thread.type == 'Link'" name="link" class="link"></ion-icon>{{thread?.title}}
				</span>

				<!-- ACTIONS -->
				<div class="actions-container">

					<div class="like-c">
						<like-thread [initialPath]="'/tabs/tab1'" [thread]="thread" (like)="like(thread)"></like-thread>
					</div>
					<div class="replies-c">
						<div class="like-div">
							<ion-button color="light" fill="clear" size="small" slot="start">
								<ion-icon name="comment-white"></ion-icon>
								<div *ngIf="thread?.replies > 0" class="replies-text">{{thread?.replies}}</div>
								<div *ngIf="thread?.replies == 0" class="replies-text">Comment</div>
							</ion-button>
						</div>
					</div>
					<div class="share-c">
							<div class="">
								<ion-button color="light" fill="clear" size="small" slot="start"
									(click)="presentActionSheetShare($event, thread)">
									<ion-icon class="share-icon" name="share-content-white"></ion-icon>
								</ion-button>
							</div>
	
						</div>
				</div>
				<!-- BACKGROUND -->
				<div class="background-image-black">
				</div>
				<ion-img *ngIf="thread.picture" class="background-image" [src]="thread?.picture"></ion-img>
			</div>
		</ion-item>
	</ion-list>


	<div *ngIf="!wait && takesBoolean">
		<profile-take-item *ngFor="let take of takes" [take]="take" [showUser]="true"></profile-take-item>
	</div>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="35%"
		[disabled]="hideInfinite">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>