.flash-container {
    position: absolute;
    top: 30px;
    left: 1%;
    width: 98%;
    height: 100px;
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 -5px 6px -2px rgba(0, 0, 0, 0.05)

}

.message-flash {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

ion-avatar {
    height: 45px;
    width: 45px;
}

img {
    object-fit: cover;
}

.msg-username {
    font-weight: bold;
    font-size: 15px;
    
}

.msg-msg {
    color: black;
    font-size: 15px;
}