<ion-header>
	<ion-toolbar [color]="global.state['theme'] == 'light' ? 'light' : 'primary'">
		<ion-buttons slot="start">
			<ion-button class="custom-back-button" (click)="goBack()">
				<ion-icon class="sort" name="chevron-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Edit</ion-title>
	</ion-toolbar>
	<ion-item id="selection">
		<ion-icon slot="start" name="trophy" id="trophy"></ion-icon>
		<ion-label class="choose-text">Select a feed</ion-label>
		<ion-select [(ngModel)]="thread.league" (ionChange)="selectChange($event)">
			<ion-select-option value="NBA">NBA</ion-select-option>
			<ion-select-option value="NFL">NFL</ion-select-option>
			<ion-select-option value="Soccer">Soccer</ion-select-option>
			<ion-select-option value="MLB">MLB</ion-select-option>
			<ion-select-option value="NHL">NHL</ion-select-option>
			<ion-select-option value="NCAAF">NCAAF</ion-select-option>
			<ion-select-option value="NCAAB">NCAAB</ion-select-option>
			<ion-select-option value="NFL Fantasy">NFL Fantasy</ion-select-option>
			<ion-select-option value="MMA">MMA</ion-select-option>
			<ion-select-option value="Boxing">Boxing</ion-select-option>
			<ion-select-option value="Tennis">Tennis</ion-select-option>
			<ion-select-option value="Golf">Golf</ion-select-option>
			<ion-select-option value="Motorsports">Motorsports</ion-select-option>
			<ion-select-option value="General">General</ion-select-option>
		</ion-select>
	</ion-item>
</ion-header>

<ion-content class="ion-padding">

	<ion-list lines="none" class="edit-thread">
		<div class="team-container" *ngIf="teamsAvailable">
			<div *ngFor="let postTeam of postTeams, let i = index, trackBy: customTrackByTeams" class="poll-flex">
				<ion-item id="selection-team">
					<ion-icon slot="start" name="team" id="trophy"></ion-icon>
					<ion-label class="choose-text">Team</ion-label>
					<ion-select [name]="'select-'+i" [ngModelOptions]="{standalone: true}" [(ngModel)]="postTeams[i]">
						<ion-select-option *ngFor="let team of teams" [value]="team.teamName">{{team.teamName}}
						</ion-select-option>
					</ion-select>
				</ion-item>
				<span *ngIf="postTeams[0].length > 0" (click)="deletePostTeam(i)"
					class="delete-option-team">Delete</span>
			</div>

			<ion-item id="add-button-item">
				<ion-button color="primary" (click)="addPostTeam()">Add another team</ion-button>
			</ion-item>
		</div>
		<ion-item id="input-title" class="new-item">
			<ion-label color="primary" position="stacked" class="count-title">Title ({{count}})</ion-label>
			<ion-textarea rows="2" [ngModelOptions]="{standalone: true}" (keyup)="wordCount()" (keydown)="wordCount()"
				placeholder="Enter a title for your post" autocorrect="on" [(ngModel)]="thread.title" class="textarea"
				[attr.maxlength]=120></ion-textarea>
		</ion-item>
		<ion-item *ngIf="selection == 'link'" class="link-item" class="textarea new-item url-item">
			<ion-label color="primary" position="stacked" class="count-title">URL</ion-label>
			<ion-textarea [ngModelOptions]="{standalone: true}" type="text" rows="2" placeholder=""
				[(ngModel)]="thread.url" class="textarea"></ion-textarea>
		</ion-item>
		<div *ngIf="thread.description" class="descr-div">
			<span *ngIf="selection != 'link'" class="count-title description-helper">Description</span>
			<ion-item no-lines *ngIf="selection != 'link'" class="textarea new-item">
				<ion-label *ngIf="thread.description.length < 600" color="primary" position="stacked"
					class="count-title">{{600 - thread.description.length}} characters to go..</ion-label>
				<ion-label *ngIf="thread.description.length >= 600" color="primary" position="stacked"
					class="count-title">
					<ion-icon name="checkmark"></ion-icon>
				</ion-label>
				<ion-textarea [ngModelOptions]="{standalone: true}" rows="10" placeholder="" autocorrect="on"
					[(ngModel)]="thread.description" class="textarea"></ion-textarea>
			</ion-item>
		</div>


	</ion-list>
	<ion-button color="warning" expand="block" id="post" (click)="submit()">SAVE</ion-button>

</ion-content>