<ion-header>
	<ion-toolbar [color]="global.state['theme'] == 'light' ? 'light' : 'primary'">
		<ion-buttons slot="start">
			<ion-button class="custom-back-button" (click)="goBack()">
				<ion-icon class="sort" name="chevron-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{thread?.league}}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="savePostToolbar()">
				<ion-icon class="bookmark-icon" [name]="savedForToolbar ? 'bookmark' : 'bookmark-outline'"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content #tabDetail>


	<div *ngIf="loadingThread" class="wait-container-2">
		<ion-spinner name="crescent"></ion-spinner>
	</div>
	<div class="detail-header" *ngIf="!loadingThread">
		<div class="top-thread">
			<div class="header-link user-info white ion-padding" (click)="goToUser($event, thread?.user)">
				<span class="span-userimage">
					<img [src]="thread?.user?.profilePictureThumbnail " class="profile-picture">
				</span>
				<span class="transparent" style="color: transparent;">::</span>
				<span class="by-username">
					<span>{{thread?.user?.username}}</span>
					<img *ngIf="thread?.user?.verified" src="assets/imgs/verified.png" alt="" class="level">
					<br>
					<span class="name">{{thread?.created}} ago <span class="viewss"
							*ngIf="authService.currentUser && (thread?.user?.username === authService.currentUser.username) || (authService.currentUser && authService.currentUser.isAdmin)">·
							{{thread?.views + 1}} views</span></span>
				</span>

			</div>
			<div *ngIf="authService.currentUser">
				<div *ngIf="thread?.user?.username === authService.currentUser.username">
					<ion-icon class="more-icon" name="ellipsis-horizontal" (click)="edit(thread)"></ion-icon>
				</div>
				<div *ngIf="authService.currentUser.isAdmin">
					<ion-icon class="more-icon" name="ellipsis-horizontal" (click)="editOrDelete(thread)"></ion-icon>
				</div>
			</div>

		</div>

		<!-- Title -->
		<div class="title-container white">
			<h2 id="thread-title">{{thread?.title}}</h2>
		</div>


		<!-- Image -->
		<div class="thread-image-container white" *ngIf="thread?.picture">

			<img [src]="thread?.picture" alt="" class="placeholder">
			<!-- <img [src]="thread?.picture" [hidden]="loadingImage" (load)="onLoad()" alt="" class="placeholder"> -->
		</div>
		<!-- Description -->
		<div class="thread-description-container white" *ngIf="thread?.description">
			<div class="thread-description" [class.mobile]="!thread?.fromWeb"
				[innerHtml]="thread?.description | safeHtml"></div>

			<!-- Poll -->
			<div class="poll-container" *ngIf="options.length > 1">
				<div *ngIf="!voted && !showResults">
					<div *ngFor="let option of options" class="threed-btn">
						<a class="button-3d" (click)="toggleVote(option)">{{option}}</a>
					</div>
				</div>
				<div *ngIf="voted || showResults" class="poll-results">
					<div *ngFor="let option of optionsWithPercentage" class="progress-outer">
						<span class="absolut-container">
							<span class="percentage">{{option?.flooredPercentage}}%</span>
							<span class="percentage-option">{{option?.option}}</span>
							<ion-icon *ngIf="option.userInOption" name="checkmark-circle-outline" class="checked">
							</ion-icon>
						</span>
						<div [style.width]="option?.flooredPercentage + '%'" class="inner">
							<div [class.no-effect]="!pollEffect" [class.progress-inner]="pollEffect"
								[class.user-in-option]="option.userInOption"></div>
						</div>
						
						<div *ngIf="admin" (click)="boostIndividual(option.option)" class="boost-individual"><ion-icon name="trending-up"></ion-icon></div>
					</div>

					<span class="total-votes">{{totalVotes}} votes</span>

				</div>

			</div>
		</div>

		<!-- Like, share, comment -->
		<div class="actions-container">
			<ion-row>
				<ion-col>
					<like-thread [initialPath]="'/tabs/tab1'" [color]="'medium'" [thread]="thread" (like)="like()">
					</like-thread>
				</ion-col>
				<ion-col>
					<div class="like-div">
						<ion-button color="medium" fill="clear" size="small" slot="start" (click)="addComment()">
							<ion-icon class="chatbubbles" name="comment-gray"></ion-icon>
							<div *ngIf="thread?.replies > 0" class="replies-text">{{thread?.replies}}</div>
							<div *ngIf="thread?.replies == 0" class="replies-text">Comment</div>
						</ion-button>
					</div>
				</ion-col>
				<ion-col>
					<div class="like-div">
						<ion-button color="medium" fill="clear" size="small" slot="start"
							(click)="presentActionSheetShare($event, thread)">
							<ion-icon class="share-icon" name="share-content-gray"></ion-icon>
						</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</div>

		<div class="boost-btn-container" *ngIf="admin">
            <ion-button class="boost-btn" color="success" (click)="boost()">BOOST LIKES!</ion-button>
            <ion-button *ngIf="options.length > 1" color="success" class="boost-btn" (click)="boostVotes()">BOOST
                VOTES!</ion-button>
            <ion-button color="success" class="boost-btn" (click)="boostViews()">BOOST VIEWS!</ion-button>
            <ion-button color="success" class="boost-btn" (click)="feature()"><ion-icon *ngIf="thread.featured" name="star"></ion-icon><ion-icon *ngIf="!thread.featured" name="ios-star-outline"></ion-icon></ion-button>
        </div>

		
	</div>

	<!-- Comments -->
	<div class="sorting-container" *ngIf="!loadingThread">
		<div class="sort-container">
			<ion-button [color]="global.state['theme'] == 'dark' ? 'light' : 'primary'" class="custom-btn" slot="start"
				fill="clear" size="small" (click)="presentActionSheet()">
				<ion-icon class="c-icon" [name]="global.state['theme'] == 'light' ? 'hot-posts' : 'hot-white'"
					*ngIf="hot"></ion-icon>
				<ion-icon class="c-icon" [name]="global.state['theme'] == 'light' ? 'new-posts' : 'new-white'"
					*ngIf="new"></ion-icon>
				<ion-icon class="c-icon" [name]="global.state['theme'] == 'light' ? 'top-posts' : 'top-white'"
					*ngIf="top"></ion-icon>
				<div class="sortBy">{{sortBy}}</div>
				<ion-icon class="dropdown" [name]="global.state['theme'] == 'light' ? 'dropdown' : 'dropdown-white'">
				</ion-icon>
			</ion-button>
		</div>
		<div class="refresh-container">
			<ion-spinner class="spinner-d custom-btn" *ngIf="loadingDiscussions || loadingInitial"></ion-spinner>
			<ion-button [color]="global.state['theme'] == 'dark' ? 'light' : 'cgray'" class="icon-refresh custom-btn"
				*ngIf="!loadingDiscussions && !loadingInitial" slot="end" fill="clear" size="small" (click)="refresh()">
				<ion-icon class="refresh-icon" name="refresh"></ion-icon>
			</ion-button>
		</div>

		
	</div>

	<!-- <div class="spinner-container" *ngIf="timelines.length == 0">
		<ion-spinner *ngIf="loadingInitial" name="crescent"></ion-spinner>
	</div> -->

	<ion-list *ngIf="!loadingThread" lines="none" class="timeline-list">
		<timeline-item *ngFor="let timeline of timelines" [timeline]="timeline" [thread]="thread"
			(deleteComment)="deleteComment($event)"></timeline-item>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="500px"
		[disabled]="!enableInfinite || loadingThread">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<ion-footer>
	<ion-toolbar [color]="global.state['theme'] == 'light' ? 'light' : 'secondary'">
		<div class="comment-container">
			<div class="comment" (click)="addComment()">
				<span class="add">Add a comment</span>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>