<ion-header>
	<ion-toolbar [color]="global.state['theme'] == 'light' ? 'light' : 'primary'">
		<ion-buttons slot="start">
			<ion-button slot="icon-only" [color]="global.state['theme'] == 'light' ? 'blacky' : 'light'" (click)="dismiss()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>

	</ion-toolbar>

	<ion-item id="selection" lines="none">
		<ion-icon slot="start" name="trophy" id="trophy"></ion-icon>
		<ion-label class="choose-text">Feed</ion-label>
		<ion-select #leagueSelection [(ngModel)]="league" (ionChange)="selectChange($event)" (ionCancel)="selectCancel()">
			<ion-select-option value="NBA">NBA</ion-select-option>
			<ion-select-option value="NFL">NFL</ion-select-option>
			<ion-select-option value="Soccer">Soccer</ion-select-option>
			<ion-select-option value="MLB">MLB</ion-select-option>
			<ion-select-option value="NHL">NHL</ion-select-option>
			<ion-select-option value="NCAAF">NCAAF</ion-select-option>
			<ion-select-option value="NCAAB">NCAAB</ion-select-option>
			<ion-select-option value="NFL Fantasy">NFL Fantasy</ion-select-option>
			<ion-select-option value="MMA">MMA</ion-select-option>
			<ion-select-option value="Boxing">Boxing</ion-select-option>
			<ion-select-option value="Tennis">Tennis</ion-select-option>
			<ion-select-option value="Golf">Golf</ion-select-option>
			<ion-select-option value="Motorsports">Motorsports</ion-select-option>
			<ion-select-option value="General">General</ion-select-option>
		</ion-select>
	</ion-item>
</ion-header>

<ion-content class="ion-padding" #createContent>

	<!-- Form -->
	<ion-list lines="none" class="new-thread-list">
		<!-- Teams -->
		<div class="team-container" *ngIf="teamsAvailable">
				
				<div *ngFor="let postTeam of postTeams, let i = index, trackBy: customTrackByTeams" class="poll-flex">
					<ion-item id="selection-team" lines="none">
						<ion-icon slot="start" name="team" id="trophy"></ion-icon>
						<ion-label class="choose-text">Team (optional)</ion-label>
						<ion-select [disabled]="!league" [name]="'select-'+i" [ngModelOptions]="{standalone: true}" [(ngModel)]="postTeams[i]">
							<ion-select-option *ngFor="let team of teams" [value]="team.teamName">{{team.teamName}}</ion-select-option>
						</ion-select>
					</ion-item>
					<span *ngIf="postTeams[0].length > 0" (click)="deletePostTeam(i)" class="delete-option-team">Delete</span>
				</div>
		
				<ion-item id="add-button-item" lines="none">
					<ion-button color="primary" (click)="addPostTeam()">Add another team</ion-button>
				</ion-item>
		</div>

		<!-- Teams -->

		<ion-item id="input-title" class="new-item">
			<ion-label color="primary" position="stacked" class="count-title">{{count}}</ion-label>
			<ion-textarea autocapitalize="on" rows="2" [ngModelOptions]="{standalone: true}" (keyup)="wordCount()"
				(keydown)="wordCount()" placeholder="Enter a title for your post" autocorrect="on" [(ngModel)]="title"
				class="textarea post-textarea" [attr.maxlength]=120></ion-textarea>
		</ion-item>
		<ion-item *ngIf="selection == 'link'" class="link-item new-item url-item textarea">
			<ion-textarea (ionFocus)="elementFocus($event)" [ngModelOptions]="{standalone: true}" type="text" rows="2"
				placeholder="Copy or write a URL here" [(ngModel)]="url" class="textarea post-textarea" id="linkId"></ion-textarea>
		</ion-item>
		<ion-item no-lines *ngIf="selection != 'link'" class="textarea new-item">
			<ion-label *ngIf="description.length == 0" color="primary" position="stacked" class="count-title">Minimum
				600 characters</ion-label>
			<ion-label *ngIf="description.length < 600 && description.length > 0" color="primary" position="stacked"
				class="count-title">{{600 - description.length}} characters to go..</ion-label>
			<ion-label *ngIf="description.length >= 600" color="primary" position="stacked" class="count-title">
				<ion-icon name="checkmark"></ion-icon>
			</ion-label>
			<ion-textarea (ionFocus)="elementFocus($event)" autocapitalize="on" [ngModelOptions]="{standalone: true}" rows="10"
				placeholder="Add a description" autocorrect="on" [(ngModel)]="description" class="textarea post-textarea" id="descriptionId">
			</ion-textarea>

		</ion-item>
		<ion-button *ngIf="description.length > 0" class="draft" size="default" (click)="saveDraft()">Save Draft
		</ion-button>
		<ion-button *ngIf="draft" class="delete-draft" size="default" (click)="deleteDraft()">
			<ion-icon name="trash"></ion-icon>
		</ion-button>
		<div *ngFor="let option of options, let i = index, trackBy: customTrackBy" class="poll-flex">
			<ion-item class="option-item">
				<ion-label class="option-number" color="primary">{{i + 1}}</ion-label>
				<ion-input autocapitalize="on" (ionFocus)="elementFocus($event)" [name]="'input-'+i" [id]="'poll'+i" [ngModelOptions]="{standalone: true}" type="text"
					placeholder="Poll option" [(ngModel)]="options[i]" class="add-option" [attr.maxlength]=30>
				</ion-input>
			</ion-item>
			<span *ngIf="i > 1" (click)="deleteOption(i)" class="delete-option">x</span>
		</div>

		<ion-item id="add-button-item" *ngIf="selection == 'poll'">
			<ion-button color="primary" (click)="addOption()">Add another option</ion-button>
		</ion-item>


	</ion-list>
	<div class="photo-container" *ngIf="selection != 'video'">
		<input accept = "image/*"(change)="onChange($event)" id="file" type="file" class="form-control-file inputfile" />
		<label id="label-profile-picture" for="file" *ngIf="!threadPicture">
			<ion-icon name="image" id="image-label"></ion-icon>
			<span>Add a cover image</span>
		</label>
		<div class="image-container" *ngIf="threadPicture">
			<ion-icon name="trash" class="trash" (click)="deletePicture()"></ion-icon>
			<img [src]="threadPicture" alt="">
		</div>
	</div>

	<ion-button color="warning" expand="block" id="post" (click)="submit()">POST</ion-button>

</ion-content>